* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Custom Scroll Bar CSS */

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #F1F1F1;
}
    
::-webkit-scrollbar-thumb {
    background: #6E93F7;
    border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
    background: #4070F4;
    border-radius: 12px;
}

/* Navigation Menu CSS */

nav { 
    position: fixed;
    width: 100%;
    padding: 20px 0;
    font-family:  'Ubuntu' , sans-serif;
    transition: all 0.4s ease;
    z-index: 998;   
}

nav.sticky{
    padding: 13px 0;
    background:#4070F4;

}

nav .navbar {
    width: 90%;
    margin: auto; 
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav .navbar .logo a { 
    font-size: 40px;
    font-weight: 500;
    color: #add8e6;
 

}

nav.sticky .navbar .logo a {
    color: #FFF;
}
 
nav .navbar .menu {
    display: flex;
}

nav .navbar .menu li{ 
    margin: 0 8px;
    list-style: none;
}

.navbar .menu li a{
    font-size: 18px;
    font-size: 500;
    color: #0E2431;
    transition: all 0.3s ease;

}

.navbar .menu li a:hover {
    color: #4070F4;
}

nav.sticky .menu li a {
    color: #FFF;
}

nav.sticky .menu li a:hover {
    color: #0E2431;
}
.navbar .media-icons a{
    font-size: 18px;
    margin: 0 6px;
    color: #add8e6; 
}

nav .menu-btn i{
    color:#add8e6 ;
}

nav .menu-btn,
.navbar .cancel-btn{
    display: block;
}

nav.sticky .navbar .media-icons a {
    color: #FFF;
}
 

/* Side Navigation Menu Button CSS */

nav .menu-btn,
.navbar .cancel-btn{
    position: absolute;
    color:#fff;
    font-size: 20px;
    right: 30px;
    top: 20px;
    display: none;
    cursor: pointer;
}   
nav .menu-btn{
    color: #4070F4;

}

nav.sticky .menu-btn i{
    color: #FFF;
}

/* Home Section CSS */

.home{
    height: 100vh;
    width: 100%;
    background: url("img/background.jpg"),no-repeat;
    background-position: center ;
    background-position: cover;
    background-attachment: fixed;
    font-family:  'Ubuntu' , sans-serif;
}

.home .home-content{
    height: 100%;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home .text .text-one{ 
    font-size: 25px;
    color: #0E2431; 
}

.home .text .text-two{ 
    font-size: 75px; 
    font-weight: 600;
    margin-left: -3px;  
    color: #0E2431;
}

.home .text .text-three{ 
    font-size: 40px;   
    color: #0E2431;
}

.home .text .text-four{ 
    font-size: 23px;   
    margin: 5px 0; 
    color: #0E2431;
}

.home .button{
    margin: 14px 0;
}
 
.home .button button{
    outline:none;
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    padding: 8px 16px;
    background: #4070F4;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.4s ease;
}

.home .button button:hover{
    color: #4070F4;
    background-color: #FFF;
    border-color: #4070F4;
}

/* About Me Section CSS */
section {
    padding-top: 40px; 
}
section .content{
    width: 80%;
    margin: 40px auto;
    font-family: 'Poppins' , sans-serif;
}
section .title{
    display: flex;
    justify-content: center;
}

section .title span{
    font-size: 30px;
    font-weight: 600;
    position: relative;
    margin-bottom:40px ;
}

section .title span::before,
section .title span::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #4070F4;
}

section .title span::after{
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -7px ;

}
.about .about-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about .about-details .right{
    width: 45%;
}
.about .about-details .right img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 12px;
}

.about .about-details .left{
    width: 55%;
}
section .topic{
    font-size: 25px;
    font-weight: 500;
    color: #0E2431;
    margin-bottom:10px ;
}
.about-details .left p{
    color: #0E2431;
    text-align: justify;
}
section .button{
    margin: 14px 0;
}
 
section .button button{
    outline:none;
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    padding: 8px 16px;
    background: #4070F4;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.4s ease;
}

section .button button:hover{
    color: #4070F4;
    background-color: #FFF;
    border-color: #4070F4;
}

/* My Skills CSS */
.skills {
    background: #F0F8FF;
}

.skills .skill-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills .skill-details .left {
    width: 50%;
}

.skill-details .left p{
    color: #0E2431;
    text-align: justify;
}

.skills .skill-details .boxes {
    width: 45%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skills .skill-details .boxes .box {
    width: calc(100% / 2 - 20px);
}

.skill-details .boxes .box .topic {
    font-size: 20px;
    font-weight: 500;
    color: #4070F4;
}

.skill-details .boxes .box .num {
    font-size: 60px;
    font-weight: 500;
    color: #4070F4;
}

/* Contact Me CSS */


.contact .text {
    text-align: center;
    margin: auto;
    width: 80%;
}

/* Footer CSS */

footer {
    background: #4070F4;
    text-align: center;
    padding: 30px 0;
    font-family:  'Ubuntu' , sans-serif;
}

footer .text span {
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
}

footer .text span a{
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
}


footer .text span a:hover {
    text-decoration: underline;
}

/* Scroll to Top Button CSS */ 
.scroll-btn  {
    display: none;
}

.scroll-btn i {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 12px;
    background: #0E2431;
    color: #FFF;
    font-size:18px;
    border-radius: 16px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.15);
}
/* Responsive Media Query CSS */

@media (max-width: 1190px) {
    .about .content{
        width: 85%;
    }
}


@media (max-width: 1190px) {
    .skills .content{
        width: 90%;
    }
}

@media (max-width: 1190px){
    .about .about-details {
        flex-direction: column;
    }
    .about .about-details .right {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .about .about-details .left {
        width: 90%;
        margin: 40px 0;
    }
}
    .contact .text {
       width: 90%;
    }


@media (max-width: 971px) {
    .about .about-details .right img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 750px) {
    nav .navbar .menu {
        position: absolute;
        left: -100%;
        top: 0;
        height: 100vh;
        max-width: 400px;
        width: 100%;
        background: #0E2431;
        flex-direction: column;
        align-items: center;
        padding-top: 60px ;
        transition: all 0.5s ease;
    }
    nav .navbar.active .menu {
        left: 0;  
    }

    .navbar .menu li a{
        display: block;
        margin: 10px 0; 
        font-size: 23px;
        color: #FFF;
    }

    nav.sticky .navbar .menu li a {
        color: #4070F4;

    }

    .navbar .media-icons a {
        display: none;

    } 
    nav .menu-btn,
    .cancel-btn {
        display: block;
    }

    .home .text .text-two{ 
        font-size: 65px; 
        
    }
    
    .home .text .text-three{ 
        font-size: 35px;   
    }
    

    
    .skills .skill-details {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }     

    .skills .skill-details .left {
        width: 90%;
    }   

    .skills .skill-details .boxes {
        width: 90%;
        margin: 40px 0;
    }   

    
    .contact .text {
        width: 100%;
     }
}

@media (max-width: 510px) {

    .home .text .text-two { 
        font-size: 55px; 
        
    }
    
    .home .text .text-three{ 
        font-size: 33px;   
    }

}